.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* used fonts */

  @font-face {
    font-family: 'LEMONMILK';
    src: url('../assets/lemon_milk/LEMONMILK-Bold.otf') format('embedded-opentype'), /* Internet Explorer */
    url('../assets/lemon_milk/LEMONMILK-Bold.otf') format('woff2'), /* Super Modern Browsers */
    url('../assets/lemon_milk/LEMONMILK-Bold.otf') format('woff'), /* Pretty Modern Browsers */
    url('../assets/lemon_milk/LEMONMILK-Bold.otf')  format('truetype'), /* Safari, Android, iOS */
    url('../assets/lemon_milk/LEMONMILK-Bold.ttf') format('svg'); /* Legacy iOS */
}

/* For mobile */


.lit-xp-heading-text {
  /* width: 130px; */
  /* height: 57px; */
  margin: 30px 20px 10px 16px;
  font-family: CoolveticaRg;
  font-size: 48px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 3.84px;
  text-align: left;
  color: #14012d;
}

/* desktop button */

.rectangle-3 {
  width: 360px;
  height: 115px;
  margin: 85px 156px 155px -1047px;
  padding: 33px 136px 32px;
  border-radius: 14px;
  -webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  box-shadow: -3px 3px 10px 0 rgba(20, 1, 45, 0.2);
  background-color: #e9c0e9;
  opacity: 0;
}

/* mobile button */

.mobile-button {
  width: 144px;
  height: 46px;
  margin: 541px 0 18px 106px;
  padding: 26px 48.5px 46px 59.5px;
  border-radius: 10px;
  box-shadow: -3px 3px 10px 0 rgba(20, 1, 45, 0.2);
  /* background-color: #e9c0e9; */
  background-color: black;
  /* opacity: 0; */
}